<section class="content-header">
    <h1>
        Clusters
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Region</a></li>
        <li class="active">Clusters</li>
    </ol>
</section>
<section class="content">
  {{#each model as |cluster|}}
      <div class="nav-tabs-custom">
          {{#link-to 'regions.region.clusters.cluster.hosts.add' cluster.region cluster class="btn btn-primary pull-right" tagName='button'}}<i class="glyphicon glyphicon-plus"></i>{{/link-to}}
          <ul class="nav nav-tabs">
              <li class="pull-left header"><i class="fa fa-th"></i> {{cluster.name}}</li>
              <li class="active"><a href="#tab_1-1-{{cluster.id}}" data-toggle="tab">Compute Pool</a></li>
              <li><a href="#tab_2-2-{{cluster.id}}" data-toggle="tab">Network Pool</a></li>
              <li><a href="#tab_3-2-{{cluster.id}}" data-toggle="tab">Storage Pool</a></li>

          </ul>

          <div class="tab-content">
              <div class="tab-pane active" id="tab_1-1-{{cluster.id}}">


                  <div class="box-body">
                      <div class="table-responsive">
                          <table class="table no-margin">
                              <thead>
                              <tr>
                                  <th style="width: 290px">ID</th>
                                  <th>Hostname</th>
                                  <th>Platform</th>
                                  <th>Ip</th>
                                  <th>Capacity</th>
                                  <th>Status</th>
                                  <th>Operation</th>
                              </tr>
                              </thead>
                              <tbody>
                              {{#each cluster.hosts as |host|}}
                                  <tr>
                                      <td><a href="#">{{host.id}}</a></td>
                                      <td>{{host.hostname}}</td>
                                      <td><i class="fa fa-windows" aria-hidden="true"></i> {{host.ostype}}-{{host.arch}}</td>
                                      <td>{{host.ips}}</td>
                                      <td>{{host.cpus}} Cpu {{transform-size host.totalmem 'GB'}}GB Mem</td>
                                      <td><span class="label label-success">Online</span></td>
                                      <td>
                                      </td>
                                  </tr>
                              {{/each}}
                              </tbody>
                          </table>
                      </div>
                      <!-- /.table-responsive -->
                  </div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2-2-{{cluster.id}}">
                  <button class="btn btn-primary" {{action "modal" cluster "network"}}><i
                          class="glyphicon glyphicon-plus"></i> Add Host
                  </button>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3-2-{{cluster.id}}">
                  <button class="btn btn-primary" {{action "modal" cluster "storage"}}><i
                          class="glyphicon glyphicon-plus"></i> Add Host
                  </button>
              </div>
              <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
      </div>
  {{/each}}
    <div class="panel cluster-add-panel">

      {{#link-to 'regions.region.clusters.add'}}
          <i class="glyphicon glyphicon-plus"></i>
      {{/link-to}}

    </div>
</section>
